@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
}

header{
  z-index: 10001 !important;
}

wbox {
  border-radius: 4.8px;
  box-shadow: none;
  text-align: start;
  height: 27px;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#confident {
  background-image: url(/public/confident-arrow.svg);
  color: #E6A123;
}
