@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
}

header{
  z-index: 10001 !important;
}

wbox {
  border-radius: 4.8px;
  box-shadow: none;
  text-align: start;
  height: 27px;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slick-slide div:nth-child(2) {
  position: relative;
  left: 100px;
  
}

.slick-slide div:nth-clild(2) {
  padding: 0;
  margin: 0;
  gap: 0;
 
}

.slick-slide {
 margin: 0;
 padding: 0;
 gap:0;
}